h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.asteroids-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.asteroid-element {
  text-align: center;
  border: 1px solid #333;
}