/* ******** Reset ******** */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #faf4ee;
  color: #333;
}

.picture-day {
  text-align: center;
}

.nasa-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.date {
  text-align: center;
}

.title-text {
  font-weight: bold;
  text-align: center;
}

.copyright {
  font-weight: bold;
  text-align: center;
}

.explanation-text {
  margin: 1rem .5rem;
}

.explanation {
  font-weight: bold;
}